<!DOCTYPE html>
<html>
	<head>
		<title>[title]</title>
		<script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
		<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/js/toastr.min.js"></script>
		<script src="__PUBLIC__/js/top.js"></script>
		<script src="__PUBLIC__/js/plugins/layui/layui.js"></script>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css?v=3.3.6"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/toastr.min.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/plugins/layui/css/layui.css"/>
		<style>
			#memuleft,#main{				
				float:left;
				position:relative;
			}
		</style>
	</head>
	<body class="gray-bg">